:root {
    --accentcolor: #b08d5f;
	--botoes: #e0b071;
	--bg1: #202225;
	--bg2: #535559;
}
/* MINHA IMAGEM*/
.side-8zPYf6 {
    background: url(https://i.imgur.com/oOapTtx.png) no-repeat;
    background-size: 100%;
    padding-top: 45px;
}
/*BETTER DISCORD*/

#bd-settingspane-container .ui-switch-item .ui-switch-wrapper input {
    background-color: var(--accentcolor);
}
.theme-dark #bd-settings-sidebar .ui-tab-bar-header {
    color: var(--accentcolor);
	opacity: 0.4;
}
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected {
    background-color: var(--accentcolor);
    color: #fff;
}
.bd-pfbtn {
    background: var(--accentcolor);
    color: #FFF;
    border-radius: calc(0px * var(--borders) + 20px * (1 - var(--borders)));
}
#bd-settings-sidebar .ui-tab-bar-item.selected {
    color: #fff;
    transform: scale(1.04);
    background-color: var(--accentcolor);
    transition: all .2s ease-in-out;
}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked {
    background: var(--accentcolor);
}
#bd-settings-sidebar .ui-tab-bar-item {
    /* background-color: rgba(51,51,51,.6); */
    /* box-shadow: inset 0 -1px 3px rgba(0,0,0,.3); */
    color: #b9bbbe;
    border-radius: calc(0px * var(--borders) + 20px * (1 - var(--borders)));
    transition: background-color .3s ease-in-out;
}
.bda-slist .bda-footer button {
    background-color: var(--accentcolor);
}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper input{
	background-color: var(--accentcolor);
}
/*ÍCONE*/
.theme-dark .homeIcon-1FoKUJ {
    background-color: var(--accentcolor);
}
/* LOADING e LINKS */
.anchor-3Z-8Bb {
    color: var(--accentcolor);
}
/*BARRA DE FUNÇÕES*/
.theme-dark .iconForeground-3y9f0B, .theme-dark .title-1aVOXw{
	color: var(--botoes);
}
/*MENSAGENS PRIVADAS*/
.channel-2QD9_O a {
	color: var(--accentcolor);
}
.name-2WpE7M {
    color:  var(--accentcolor);
	opacity: 0.3;
}
/*CHAR-COUNTER*/
#charcounter {
    color:  var(--accentcolor);
	font-size: 9px;
}
/*MENSAGENS PRIVADAS*/
.privateChannels-1nO12o header {
	color: var(--accentcolor);
	opacity: .8;
}
.channel-2QD9_O.name-2WpE7M, .channel-2QD9_O.nameWrapper-10v56U, .channel-2QD9_O:hover .name-2WpE7M, .channel-2QD9_O:hover .nameWrapper-10v56U {
	color: var(--accentcolor);
}
/* ÍCONE - CRIAR SERVIDOR*/
.guildsAddInner-1KMFy- {
	color: var(--botoes);
}
.theme-dark .guildsAdd-21_IdK {
    background: var(--bg1);
    border-color: var(--botoes);
    color: var(--bg2);
}
/* SERVIDOR */
/* NOME*/
.name-3YKhmS {
    color: var(--botoes);
}
/*CONVITE*/
.theme-dark .item-1GzJrl.invite-271nFU {
    color: var(--botoes);
}
.icon-2doZ3q{
    color: var(--botoes);
}
/*DATA E SEPARADOR*/
.theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI {
    color: var(--accentcolor);
}
.theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:after, .theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:before {
    border-color: var(--accentcolor);
	opacity: .5;
}
.theme-dark .timestampCozy-2hLAPV {
    color: var(--accentcolor);
	opacity: .6;
}
/* CANAIS*/
.iconCollapsed-3hFp_8, .iconDefault-3Gr8d2, .nameCollapsed-34uFWo, .nameDefault-2DI02H {
    color: var(--accentcolor);
}
.colorConnectedText-1c_uzY, .colorConnectedVoice-3kyvUN, .colorDefaultText-oas-QM, .colorDefaultVoice-3wYlhb, .colorHoveredText-OZnAgu, .colorHoveredVoice-1kucsK, .colorLockedText-1VRkPt, .colorLockedVoice-2UlBjl, .colorSelectedText-1y4Wvs, .colorSelectedVoice-Xcb_9R, .colorUnreadText-2t7XRb, .colorUnreadVoice-137o4S {
    color: var(--accentcolor);
}
/*MENSAGENS NÃO LIDAS - BARRA DE CANAIS*/
.unread-1xRYoj {
    background-color: var(--accentcolor);
}
.unreadBar-3YD_k9:after {
}
/*MENSAGENS NÃO LIDAS - BARRA DO CHAT*/
.newMessagesBar-mujexs {
    /* -webkit-transition: background-color .2s; */
    background-color: rgba(218, 181, 114, 0.9);
    border-radius: 0 0 5px 5px;
    color: #fff;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 400;
    left: 20px;
    position: absolute;
    right: 20px;
    text-transform: capitalize;
    top: 0;
    /* transition: background-color .2s; */
    z-index: 2;
}

.newMessagesBar-mujexs {
    -webkit-transition: background-color .2s;
    background-color: rgba(114,137,218,.9);
	
    border-radius: 0 0 5px 5px;
    color: #fff;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 400;
    left: 20px;
    position: absolute;
    right: 20px;
    text-transform: capitalize;
    top: 0;
    transition: background-color .2s;
    z-index: 2;
}
.newMessagesBar-mujexs button:last-child {
    -webkit-transition: color .2s;
    color: #FFF;
    font-size: 12px;
    text-transform: uppercase;
    /* transition: color .2s; */
}
/*MENSAGENS NÃO LIDAS - MARCADORES*/
.unread-1Dp-OI {
    background-color: var(--accentcolor);
    border-radius: 0 6px 6px 0;
    height: 16px;
    left: 0;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 4px;
}
/*MARCAÇÕES*/
.theme-dark .wrapper-3WhCwL {
    /* background-color: #2f3136; */
    color: #d0a163;
}
/* CANAL ATUAL e ÍCONE*/
.channelIcon-MsmKOO {
    color: var(--botoes);
}
.theme-dark .channelName-3stJzi{
    color: var(--botoes);
}
/* MEMBROS*/
.theme-dark .membersGroup-v9BXpm {
    color: var(--accentcolor);
}
.theme-dark #MemberCount {
	color: var(--accentcolor);
    background: #2f3136;
}
/*ATIVIDADE*/
.activity-1IYsbk strong {
    font-weight: 600;
    color: var(--botoes);
}
/* MENU DE CONFIGURAÇÕES*/
/*CATEGORIAS*/
.theme-dark .header-2RyJ0Y {
    color: var(--accentcolor);
}
/*NITRO*/
.side-8zPYf6 .itemSelected-1qLhcL {
    background-color: var(--accentcolor) !important;
    color: #fff;
}
/*LINKS*/
.theme-dark .card-3Qj_Yx a {
    color: var(--botoes);
}
/*VÍDEO*/
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
    background-color: var(--accentcolor);
}
/*SUB-MENU*/
.side-8zPYf6 .itemSelected-1qLhcL {
    background-color: var(--accentcolor);
    color: #fff;
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: var(--accentcolor);
    color: #fff;
}
/*TEXTO ESCURO*/
.theme-dark .h5-18_1nd {
	color: var(--accentcolor);
	opacity: 0.8;
}
/*TÍTULOS DOS SUB-MENUS*/
.theme-dark .defaultColor-1_ajX0 {
    color: var(--accentcolor);
}
/*CAIXAS DE INFORMAÇÃO*/
.theme-dark .cardPrimaryEditable-3KtE4g {
}
/*CHECK-BOXES*/
.themeDefault-24hCdX.valueChecked-m-4IJZ {
    background-color: var(--accentcolor);
}
.checkboxElement-1qV33p:checked+span{
	background-color: var(--accentcolor);
}
/*DIVISORES*/
.theme-dark .divider-3573oO {
    background-color: var(--accentcolor);
	opacity: 0.3;
}
/*MIC, AUDIO E CONFIGURAÇÕES*/
.accountDetails-3k9g4n .username {
    color: var(--botoes);
}
.accountDetails-3k9g4n .discriminator {
    color: var(--botoes);
	opacity: 0.8;
}
.theme-dark .button-2b6hmh, .theme-light .button-2b6hmh {
    color: var(--botoes) !important;
}
/*MENSAGENS FIXAS E MARCAÇÕES*/
.theme-dark .header-ykumBX .title-3pkaKd {
    color: var(--botoes);
}
/* LOJA*/
.theme-dark .topPill-30KHOu .itemSelected-1qLhcL {
    background-color: var(--accentcolor);
    color: fff;
}
.theme-dark .topPill-30KHOu .item-PXvHYJ {
    color: fff;
}
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*                 BOTÕES ANIMADOS                 */
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/* BOTÃO 1 */
.lookFilled-1Gx00P.colorBrand-3pXr91:active {
    background-color: var(--accentcolor);
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    background-color: var(--accentcolor);
}
<style>…</style>
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: #9e7f56;
    color: #fff;
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: var(--accentcolor);
    color: #fff;
}
/* SWITCHES */
.cardPrimaryEditable-3KtE4g[style*="background-color: rgb(114, 137, 218);"] {
    background-color: var(--accentcolor) !important;
    border-color: var(--accentcolor) !important;
}
/* VOLUME BAR*/
.barFill-23-gu- {
    background: var(--accentcolor);
    height: 100%;
}